@page "/NotFound"

<PageTitle>Not Found</PageTitle>

<header>
    <h1 class="text-danger">Not Found</h1>
    <p class="text-danger">The resource you are looking for are not on the server.</p>
</header>
