@rendermode InteractiveWebAssembly

@using Bakr.Shared.Models
@inject ILogger<FileUpload> Logger
@attribute [Authorize]
@attribute [StreamRendering]

<p>
    <label>
        <InputFile OnChange="OnInputFileChange" accept=".jpg, .jpeg, .png, .gif, .webp" class="form-control" />
    </label>
</p>

@if (ValidationMessage is not null)
{
    <p style="color:red;">@ValidationMessage</p>
}

@if(Parent?.File is not null) {
    <div class="card">
        <div class="card-body">
            <ul>
                <li>
                    File: @Parent.File.Name
                    <br>
                    @if (FileUploading(UploadResult, Parent.File.Name, Logger,
                             out var result))
                    {
                        <span>
                            Waiting for upload..
                        </span>
                    }
                    else
                    {
                        <span style="color: red;">
                            There was an error uploading the file
                            (Error: @result.ErrorCode).
                        </span>
                    }
                </li>
            </ul>
        </div>
    </div>
    <br />
}

@code {

    [CascadingParameter]
    public EditProduct? Parent { get; set; }

    [Parameter]
    public required UploadResult UploadResult { get; set; }

    [Parameter]
    public string? ValidationMessage { get; set; }

    [Parameter]
    public bool ShouldRenderComponent { get; set; }

    protected override bool ShouldRender() => ShouldRenderComponent;

    private void OnInputFileChange(InputFileChangeEventArgs e) {
        if(Parent is null) return;
        Parent.File = e.File;
    }

    private static bool FileUploading(UploadResult uploadResult,
    string? fileName, ILogger<FileUpload> logger, out UploadResult result)
    {
        result = uploadResult;

        if (!result.Uploaded)
        {
            result.ErrorCode = result.ErrorCode == 0 ? 5 : result.ErrorCode;
            logger.LogInformation("{FileName} not uploaded (Err: {result.ErrorCode})", fileName, result.ErrorCode);
        }

        return result.Uploaded;
    }
}